@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
}

img{
    height: 500px;
    padding: 0 20px 0 20px;
}

h2{
    font-size: 22;
    margin: 20px 10px 20px 10px;
}
p{
    font-size: 16px;
    margin: 10px;
}

article{
    background: white;
    width: 1080px;
    margin: auto;
    padding: 20px;
}
aside{
    float: right;
    margin: 20px 0;
}

nav {
    position: static;
    margin: auto;
    width: 100%;
    display: block;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: black;
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 60px 0 0 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;    
    width: 1080px;
    margin: 0 auto;
}
nav ul li {
    width: 1080px;
    padding: 0;
    text-align: center;
    margin: auto;
    
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #657167;
}